<div class="login-container">
  <h2>Inscription Participant</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input id="nom" formControlName="nom" type="text" placeholder="Entrez votre nom" />
      <div class="error" *ngIf="submitted && f['nom'].errors">
        Nom requis.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input id="email" formControlName="email" type="email" placeholder="Entrez votre email" />
      <div class="error" *ngIf="submitted && f['email'].errors">
        Email invalide.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input id="password" formControlName="password" type="password" placeholder="Entrez votre mot de passe" />
      <div class="error" *ngIf="submitted && f['password'].errors">
        Mot de passe invalide.
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid" class="btn-login">
      S'inscrire
    </button>
  </form>

  <div class="message" *ngIf="message">{{ message }}</div>
</div>
